@import './base.css';

a {
  text-decoration: none;
  color: rgb(112, 114, 113);
  transition: 0.4s;
  padding: 3px;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
}

@media (max-width: 600px) {
  #app {
    grid-template-columns: 50px 1fr;
  }
  .nav {
    display: none;
  }
}
