@font-face {
  font-family: "iconfont"; /* Project id 4189498 */
  src: url('iconfont.woff2?t=1732292068708') format('woff2'),
       url('iconfont.woff?t=1732292068708') format('woff'),
       url('iconfont.ttf?t=1732292068708') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e60c";
}

.icon-Home:before {
  content: "\e66c";
}

.icon-l-about:before {
  content: "\e789";
}

.icon-set_about_hov:before {
  content: "\e688";
}

.icon-biaoqian:before {
  content: "\e64a";
}

.icon-biaoqing:before {
  content: "\e64b";
}

.icon-diannao:before {
  content: "\e64c";
}

.icon-luyin:before {
  content: "\e64d";
}

.icon-riqi:before {
  content: "\e64e";
}

.icon-jinggao:before {
  content: "\e64f";
}

.icon-dianzan:before {
  content: "\e650";
}

.icon-jifen:before {
  content: "\e651";
}

.icon-xiangqing:before {
  content: "\e652";
}

.icon-shoucang:before {
  content: "\e653";
}

.icon-yinliang:before {
  content: "\e654";
}

.icon-zuo:before {
  content: "\e655";
}

.icon-shang:before {
  content: "\e656";
}

.icon-xia:before {
  content: "\e657";
}

.icon-you:before {
  content: "\e658";
}

.icon-jiesuo:before {
  content: "\e659";
}

.icon-daochu:before {
  content: "\e65a";
}

.icon-erweima:before {
  content: "\e65b";
}

.icon-daoru:before {
  content: "\e65c";
}

.icon-tishi:before {
  content: "\e65d";
}

.icon-dingwei:before {
  content: "\e65e";
}

.icon-xiazai:before {
  content: "\e65f";
}

.icon-bangzhu:before {
  content: "\e660";
}

.icon-sousuo:before {
  content: "\e661";
}

.icon-wenjian:before {
  content: "\e662";
}

.icon-shipin:before {
  content: "\e663";
}

.icon-tupian:before {
  content: "\e664";
}

.icon-qiehuan:before {
  content: "\e665";
}

.icon-duankai:before {
  content: "\e666";
}

.icon-shuju:before {
  content: "\e667";
}

.icon-zixun:before {
  content: "\e668";
}

.icon-saoyisao:before {
  content: "\e669";
}

.icon-yincang:before {
  content: "\e66a";
}

.icon-wenjianjia:before {
  content: "\e66b";
}

.icon-appleinc:before {
  content: "\e604";
}

.icon-cloud-check:before {
  content: "\e605";
}

.icon-google-drive:before {
  content: "\e606";
}

.icon-github:before {
  content: "\e607";
}

.icon-heart:before {
  content: "\e608";
}

.icon-leaf:before {
  content: "\e609";
}

.icon-link:before {
  content: "\e60a";
}

.icon-tux:before {
  content: "\e60b";
}

.icon-bike:before {
  content: "\e72d";
}

.icon-bicycle:before {
  content: "\e72f";
}

.icon-bed:before {
  content: "\e730";
}

.icon-battery-half:before {
  content: "\e733";
}

.icon-battery-full:before {
  content: "\e734";
}

.icon-battery-charging:before {
  content: "\e735";
}

.icon-bath-tube:before {
  content: "\e736";
}

.icon-bar:before {
  content: "\e73a";
}

.icon-band-aid:before {
  content: "\e73b";
}

.icon-bar-2:before {
  content: "\e73c";
}

.icon-bank:before {
  content: "\e73d";
}

.icon-baby:before {
  content: "\e742";
}

.icon-audio:before {
  content: "\e743";
}

.icon-audio-wave:before {
  content: "\e744";
}

.icon-audio-ui:before {
  content: "\e745";
}

.icon-attachment:before {
  content: "\e746";
}

.icon-attachment-rotate:before {
  content: "\e747";
}

.icon-arrow:before {
  content: "\e749";
}

.icon-archive:before {
  content: "\e74a";
}

.icon-announcer:before {
  content: "\e74e";
}

.icon-android:before {
  content: "\e752";
}

.icon-align-right:before {
  content: "\e754";
}

.icon-align-left:before {
  content: "\e755";
}

.icon-align-center:before {
  content: "\e756";
}

.icon-alien:before {
  content: "\e757";
}

.icon-alert-file:before {
  content: "\e758";
}

.icon-alarm:before {
  content: "\e75a";
}

.icon-airport:before {
  content: "\e75b";
}

.icon-add-sm:before {
  content: "\e764";
}

.icon-add-lg:before {
  content: "\e768";
}

